*
!.gitignore
!INSTALL.md
!LICENCE
!MILESTONES.md
!README.md
!Snakefile
!agendas/
!agendas/*
!config.yaml
data/
data/*
!db/
!db/adapters/
!db/adapters/*
!db/sortmerna/
!db/sortmerna/source.txt
!docs/
!docs/*
!envs/
!envs/*
!forms/
!forms/*
!jobscripts/
!jobscripts/*
!lit/
!lit/*
!notes/
!notes/*
!reports/
!reports/*
!rules/
!rules/*
!sample-data/
!sample-data/*
!sample-data/subset-trimmed-libs/
!sample-data/subset-trimmed-libs/*
!sample-data/subset-raw-libs/
!sample-data/subset-raw-libs/*
!samples.csv
!schemas/
!schemas/*
!scripts/
!scripts/*
!src/
!src/*
!test/
!test/*
!test/*/*
